<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-11"><h2>Le nostre Pizze</h2></div>
        <div th:unless="${pizze.size() > 0}">The list is empty</div>
        <!-- tabella delle pizze da bootstrap dinamica -->
        <table th:if="${pizze.size() > 0}" class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Ingredienti</th>
              <th scope="col">Prezzo</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="pizza : ${pizze}">
              <td th:text="${pizza.name}"></td>
              <td th:text="${pizza.description}"></td>
              <td th:text="${pizza.price}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-12 my-3 d-flex justify-content-center mx-auto"><h4 class="text-center"> Gallery</h4></div>
        <div class="col-3" th:each="pizza : ${pizze}">
          <img th:src="${pizza.url_photo}" th:alt="|pizza ${pizza.name}|" />
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
